.layout-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border: 2px solid #4CAF50; /* Borde alrededor del contenedor */
  border-radius: 10px; /* Bordes redondeados */
  margin-bottom: 20px; /* Espacio entre contenedores */
  padding: 10px; /* Espacio interno */
}

.image-carousel {
  flex: 1;
  overflow: hidden;
  position: relative;
  max-width: 50%;
}

.carousel-track {
  display: flex;
  width: 300%;
  transition: transform 1s ease;
}

.carousel-track img {
  width: 100%;
  flex: 1;
}

.text-content {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 50%;
  text-align: center;
}

.redirect-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  border-radius: 5px;
}

.redirect-button:hover {
  background-color: #45a049;
}
